<html>
    <head>
        <title>Payment system</title>

        <script src="https://code.jquery.com/jquery-3.5.0.min.js"
                integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
                crossorigin="anonymous">
        </script>
        <script src="/templates/resources/transaction.js"></script>
        <script src="/templates/resources/login.js"></script>
        <script src="/templates/resources/main.js"></script>
    </head>
    <body>
        <div id="header">
            <a href="/logout">Logout</a>
        </div>
        <div id="body"></div>
    </body>
</html>